<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{categories}">Categories</title>
</head>
<body>

<main layout:fragment="page-content">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <!--/*@thymesVar id="categories" type="com.lisovenko.offeraid.controllers.CategoryController"*/-->
          <div class="col-md-4 mb-4" th:each="category : ${categories}"
               th:with="url=${#httpServletRequest.requestURI}">
                <h5>
                  <a class="text-decoration-none link-secondary"
                     th:href="@{{url}/{url}/offers(url=${url}, url=${category.url})}"
                     th:text="#{${category.url}}">Category</a>
                  <span class="badge rounded-pill bg-light text-secondary"
                        th:text="${category.offers}">0</span>
                </h5>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>
